---
title: Founder Paths | The Real Paths Entrepreneurs took to Success
priority: 1
changefreq: daily
---

<section id="headline_banner">
  <div id="headline" class="container">
    <div class="sixteen columns">
      <h1>Founder Paths</h1>
    </div>
  </div>
</section>